@charset 'utf-8';
@import "common.css";

html,
body,
div,
span,
h1,
h2,
h3,
p,
ol,
ul,
li,
form,
label,
header,
section,
time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  box-sizing: border-box;
}

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}